<div class="conteiner">
    <app-card 
        gameCover= "/assets/images/ac-cover.jpg"
        gameName= "Assassin's Creed"
        gameLabel= "DIGITAL"
        category= "DIGITAL"
        pricing= "R$ 169,99">
    </app-card>
    <app-card 
        gameCover= "/assets/images/bt-5.jpg"
        gameName= "Battlefield 5"
        gameLabel= "DIGITAL"
        category= "DIGITAL PS4"
        pricing= "R$ 169,99">
    </app-card>
    <app-card 
        gameCover= "/assets/images/bt-hardline.jpg"
        gameName= "Battlefield Hardline"
        gameLabel= "EXCLUSIVE"
        category= "DIGITAL PS5"
        pricing= "R$ 219,99">
    </app-card>
    <app-card 
        gameCover= "/assets/images/bt-1.jpg"
        gameName= "Battlefield 1"
        gameLabel= "DIGITAL"
        category= "DIGITAL"
        pricing= "R$ 169,99">
    </app-card>
    <app-card 
        gameCover= "/assets/images/bt-4.jpg"
        gameName= "Battlefield 4"
        gameLabel= "DIGITAL"
        category= "DIGITAL PS4 PS5"
        pricing= "R$ 169,99">
    </app-card>
    <app-card 
        gameCover= "/assets/images/bt-bad-company-2.jpg"
        gameName= "Battlefield Bad Company 2"
        gameLabel= "DIGITAL"
        category= "DIGITAL"
        pricing= "R$ 189,99">
    </app-card>
</div>
